<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>features</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'features.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

</head>

<body>
    <div class="principal">
        <img id="ed" src="{% static 'rename.png' %}">
        <div class="template-page">
            <div class="template">
                <i class="bi bi-bank"></i>
                <span>Bluewhale Bank</span>
                <h6 id="secure">Secure Banking</h6>
            </div>
            <ul>
                <li>
                    <a href="http://127.0.0.1:8000/features">
                        <i class="bi bi-house-door"></i>
                        HOME
                    </a>
                </li>
                <li>
                    <a href="http://127.0.0.1:8000/deposit">
                        <i class="bi bi-download"></i>
                        <p>Deposit</p>
                    </a>
                </li>
                <li>
                    <a href="http://127.0.0.1:8000/withdraw">
                        <i class="bi bi-download"></i>
                        <p>Withdraw</p>
                    </a>
                </li>
                <li>
                    <a href="http://127.0.0.1:8000/transfer">
                        <i class="bi bi-arrow-left-right"></i>
                        <p>Transfer</p>
                    </a>
                </li>
                <li>
                    <a href="http://127.0.0.1:8000/check">
                        <i class="bi bi-wallet2"></i>
                        <p>Check</p>
                    </a>
                </li>
                <li>
                    <a href="http://127.0.0.1:8000/viewtranscations">
                        <i class="bi bi-receipt"></i>
                        <p>Viewtranscations</p>
                    </a>
                </li>
            </ul>
            <form method="post" action="{% url 'logout_here' %}">
                {% csrf_token %}
                <div class="btn">
                    <button type="submit" class="bi bi-box-arrow-left" id="btn">LOGOUT</button>
                </div>
            </form>
        </div>
    </div>


    <div class="details">
        <div class="box">

            <div class="acc">
                <div class="person">
                    <i  id="o" class="bi bi-person-fill"></i>
                    USER DETAILS
                </div>
                <div class="list">
                    <p>Account number: {{account_number}}</p>
                    <p>Username : {{username}}</p>
                    <h3 id="balance">CURRENT BALANCE </h3>
                    <p id="current">  {{current_balace}}</p>
                </div>
            </div>
            <div class="unique">
                <div class="first">
                    <i class="bi bi-download"></i>
                </div>
                <P>DEPOSIT</P>
                <p>deposit your money</p>
                <a id="href" href="http://127.0.0.1:8000/deposit">Deposit</a>

            </div>
            <div class="unique">
                <div class="second">
                    <i class="bi bi-download"></i>
                </div>
                <p>WITHDRAW</p>
                <p>withdraw your money</p>
                <a id="href" href="http://127.0.0.1:8000/withdraw">withdraw</a>
            </div>
            <div class="unique">
                <div class="third">
                    <i class="bi bi-arrow-left-right"></i>
                </div>
                <p>TRANSFER</p>
                <p>Transfer your money</p>
                <a id="href" href="http://127.0.0.1:8000/transfer">Transfer</a>
            </div>
            <div class="unique">
                <div class="fourth">
                    <i class="bi bi-wallet2"></i>
                </div>
                <P>CHECK BALANCE</P>
                <p>Check your Balance</p>
                <a id="href" href="http://127.0.0.1:8000/check">Check Balance</a>
            </div>
            <div class="unique">
                <div class="fifth">
                    <i class="bi bi-receipt"></i>
                </div>
                <p>VIEW TRANSCATIONS</p>
                <p>transcation history</p>
                <a id="href" href="http://127.0.0.1:8000/viewtranscations">Viewtranscations</a>
            </div>
        </div>
    </div>

    
</body>

</html>